.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  gap: 20px;
  border-top: 0.5px solid lightgrey; 
  border-bottom: 0.5px solid lightgrey; 
margin-bottom: 1rem;
}

.itemsCount h4 {
 padding-left: 20px; 
}

.main {
  flex: 1;
  padding: 2rem;
  max-height: calc(100vh - 90px); 
  overflow-y: auto;
  margin-top: 10px;
}

.title {
  font-size: 2.8rem;
  margin-bottom: 0.25rem;
  text-align: center;
  font-weight: 550;
  color: #222;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #666;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem;
}


@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1, 1fr); 
  }
}


.container {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
    min-height: auto;
    margin-bottom: 1rem;
  }

  .main {
    padding: 1rem;
  }
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.pageButton {
  padding: 0.6rem 1.2rem;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.pageButton:hover {
  background-color: #f1f1f1;
  border-color: #999;
}

.active {
  background-color: #0070f3;
  color: white;
  border-color: #0070f3;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(0, 112, 243, 0.2);
}

.sidetogglebtn {
  padding: 8px 15px;
  font-size: 1rem;
  text-align: center;
  text-decoration: underline;
  border:none;
  background-color: white;
  color: rgb(0, 0, 0);
  font-weight: 20;
}
.sortWrapper{
  padding-right: 1rem;
}
